# Created by https://www.toptal.com/developers/gitignore/api/vuejs,nuxtjs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs,nuxtjs

### Nuxtjs ###
# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
yarn-error.log

# vim
*.swp

# End of https://www.toptal.com/developers/gitignore/api/vuejs,nuxtjs
